* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.container-title-services {
  width: 100vw;
  height: 50vh;
  background-image: url('./services.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.title-services {
  font-size: 5vw;
  font-weight: 700;
  color: black;
}

.industry-focus {
  width: 100vw;
  background-color: #303c6a;
  text-align: center;
  color: beige;
  display: flex;
  flex-direction: column;
}

.industry-focus h1 {
  padding-top: 5vh;
  padding-bottom: 5vh;
}

.focus3 ul {
  list-style-type: none;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 3rem;
  padding-bottom: 2vh;
}

.focus3 li {
  width: 20rem;
  height: 15rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #82411c50;
  border: 2px solid beige;
  border-radius: 20px;
  text-align: center;
}

.focus3 h4 {
  margin: 2px;
}

.sent {
  padding-bottom: 3vh;
}

.slider-container {
  background-color: #fff;
  overflow: hidden;
  width: 100vw;
  height: 70vh;
  justify-content: center; 
  align-items: center; 
  position: relative;
  text-align: center;
}

.slider-container h1 {
  padding-top: 5vh;
  padding-bottom: 2vh;
}

.swiper-slide {
  width: 33vw !important;
  height: 50vh !important;
  padding: 10px;
  border-radius: 50px;
  border: 2px solid black;
  background-color: #303c6a;
  color: beige;
  margin: 0 1vw;
  transition: transform 0.3s ease;
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
}
.swiper-button-next,
.swiper-button-prev {
    color: #ffffff !important; 
    z-index: 10; 
}

.card a {
  text-decoration: underline;
  color: rgb(235, 126, 2);
  font-size: small;
}

.card:hover {
  transform: scale(1.05);
}

.card ul {
  list-style-position: inside;
  text-align: center;
  padding: 0;
  margin: 0;
}

.card h4 {
  padding-top: 1rem;
}

.slick-slide > div {
  margin: 0 1vw;
}

/* Desktop adjustments */
@media (min-width: 1200px) {
  .title-services {
    font-size: 4vw;
  }

  .slider-container {
    height: 70vh;
  }

  .focus3 li {
    width: 25rem;
    height: 20rem;
  }

  .card {
    height: 45vh;
    width: 250px;
  }
}

/* Tablet adjustments */
@media (min-width: 768px) and (max-width: 1024px) {
  .title-services {
    font-size: 4.5vw;
  }

  .industry-focus {
    flex-direction: column;
    padding: 0 2rem;
  }

  .focus3 ul {
    flex-direction: column;
    gap: 2rem;
    padding: 0 1rem;
  }

  .focus3 li {
    width: 80%;
    height: auto;
    margin-bottom: 2rem;
  }

  .slider-container {
    height: 60vh;
  }

  .swiper-slide{
    width: 350px !important;
    height: 35vh !important;
  }

  .swiper-slide li {
    display: none;
    
  }
}

/* Mobile adjustments */
@media (max-width: 768px) {
  .title-services {
    font-size: 6vw;
  }

  .industry-focus {
    flex-direction: column;
  }

  .focus3 ul {
    flex-direction: column;
    gap: 2rem;
  }

  .focus3 li {
    width: 90%;
    height: auto;
  }

  .slider-container {
    height: 60vh;
  }

  .card {
    width: 150px;
    height: 30vh;
  }

  .slider li {
    display: none;
  }
}

@media (max-width: 480px) {
  .title-services {
    font-size: 7vw;
  }

  .slider-container {
    height: 50vh;
    width: 100vw;
  }

  .swiper-slide {
    width: 300px !important;
    height: 30vh !important;
  }

  .swiper-slide li {
    display: none;
  }

  .focus3 li {
    width: 90vw;
    min-height: 25vh;
  }
}
