* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.container-title-services {
  width: 100vw;
  height: 50vh;
  background-image: url('./services.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.title-services {
  font-size: 5vw; /* Responsive font size */
  text-align: center;
  font-weight: 700;
  color: black;
}

.slider-container {
  background-color: beige;
  overflow: hidden;
  width: 100vw;
  height: 70vh;
  position: relative;
  text-align: center;
}

.slider-container h1 {
  padding-top: 5vh;
}

.slider {
  background-color: beige;
  padding: 5vh 0vw 10vh 0vw; /* Adjust padding for better responsiveness */
  width: 100%;
  display: inline-block;
  
}

.card {
  height: 40vh;
  padding: 10px; /* Adjust padding if needed */
  display: inline-block;
  border-radius: 20px;
  border: 2px solid black;
  background-color: #303c6a;
  color: beige;
  text-align: center;
}

.card a{
  text-decoration: underline;
  color: rgb(235, 126, 2);
  font-size: small;
}

.card:hover{
  transform: scale(1.05);
}
.card ul{
  list-style-position: inside; /* Positions bullets inside the list item's box */
  text-align: center; /* Center-aligns the text and bullets */
  padding: 0; /* Removes default padding */
  margin: 0;
}

.card h4 {
  padding-top: 1rem; /* Adjust padding for better text spacing */
}

.card:hover {
  transform: scale(1.02); /* Slightly increased hover effect for better feedback */
}

.slick-slide > div {
  margin: 0 1vw; /* Adjust margin for better responsiveness */
}




@media (max-width: 1200px) {
  .title-services {
    font-size: 4vw;
  }

  .slider-container {
    height: 40vh;
  }

  .slider {
    padding: 4vw 4vw 8vh 4vw;
  }

  .card {
    height: 25vh;
  
  }


}

@media (max-width: 768px) {
  .title-services {
    font-size: 6vw; /* Increase font size on smaller screens for better readability */
  }

  .slider-container {
    height: 30vh;
  }

  .slider {
    padding: 3vw 3vw 6vh 3vw;
  }

  .card {
    height: 20vh;
    margin: 0 1vw;
  }

  
}

@media (max-width: 480px) {
  .title-services {
    font-size: 7vw; /* Increase font size on extra small screens */
  }

  .slider-container {
    height: 40vh;
  }

  .card li {
    display: none;
  }

  .slider {
    padding-top: 5vh;
    padding-bottom: 5vh;
    font-size: 10px;
    text-align: center;
  }

  .card {
    height: 21vh;
  }


}



  
  
  
  
