/* General styles */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  font-family: Avenir, sans-serif;
}

.Nav {
  width: 100vw;
  background-color: white;
  color: black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 150px;
  position: relative;
  z-index: 100;
}

.Site-Logo {
  margin: 0;
}

.Nav-links {
  display: flex;
  gap: 4rem;
  list-style: none;
}

.Nav-links a {
  color: inherit;
  font-size: large;
  font-weight: 600;
  text-decoration: none;
  padding: 0.25rem;
  transition: color 0.3s ease;
}

.Nav-links li.active {
  color: orange;
}

.Nav-links li:hover {
  color: orange;
}

.Nav-toggle {
  display: none;
  background: none;
  border: none;
  font-size: 1.5rem;
  cursor: pointer;
}

.Nav-toggle-icon {
  font-size: 1.5rem;
}

.dropdown {
  position: relative;
  width: fit-content;
}

.dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  background-color: white;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  list-style: none;
  width: 200px;
  opacity: 0;
  visibility: hidden;
  max-height: 0;
  overflow: hidden;
  z-index: 200;
  transition: opacity 0.3s ease, visibility 0.3s ease, max-height 0.3s ease;
}

.dropdown-menu li {
  padding: 10px;
}

.dropdown-menu li a {
  text-align: center;
  font-size: small;
  font-weight: 300;
  color: black;
  text-decoration: none;
  display: block;
}

.dropdown:hover .dropdown-menu {
  
  display: block;
  overflow: auto;
  opacity: 1;
  visibility: visible;
  max-height: 500px;
}

/* Responsive styles */
@media (max-width: 768px) {
  .Nav {
    padding: 20px;
  }

  .Nav-links {
    display: none;
    flex-direction: column;
    gap: 2rem;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.725);
    padding: 1rem;
    align-items: center;
  }


  .Nav-links.active {
    display: flex;
  }
  .Nav-links li:hover {
    color: black;
  }

  .Nav-toggle {
    display: block;
  }

  .dropdown {
    width: fit-content;
  }

  .dropdown-menu {
    width: 70vw;
    position: static;
    max-height: none;
    visibility: visible;
    opacity: 1;
  }

  .dropdown:hover .dropdown-menu {
    max-height: 500px;
  }
}

.container {
  width: 100vw;
  min-height: 100%;
  margin: 0;
  padding: 0;
  position: relative;
  z-index: 1;
}

.footer {
  width: 100vw;
  color: white;
  background-color: #303c6a;
  position: relative;
  bottom: 0;
  padding: 1rem;
  text-align: center;
}

.Links {
  display: flex;
  gap: 1rem;
  list-style: none;
  margin: 0;
  padding-top: 10px;
  justify-content: center;
}

.Links a {
  color: beige;
}

.rights {
  padding-top: 10px;
  color: beige;
}

.rights a {
  color: beige;
}





