/* General styles */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  font-family: Avenir, sans-serif;
}

.Nav {
  width: 100vw;
  background-color: white;
  color: black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 150px;
  position: relative;
}

.Site-Logo {
  margin: 0;
}

.Nav-links {
  display: flex;
  gap: 4rem;
  list-style: none;
  margin: 0;
  padding: 0;
  position: relative; 
}

/* Style for the links in the navbar */
.Nav-links a {
  color: inherit;
  font-size: large;
  font-weight: 600;
  text-decoration: none;
  display: flex;
  align-items: center;
  padding: 0.25rem;
  transition: color 0.3s ease, transform 0.3s ease; 
}

.Nav-links li.active {
  color: orange;
}

.Nav-links li:hover {
  color: orange;
  transform: scale(1.05); 
}

.Nav-toggle {
  display: none;
  background: none;
  border: none;
  font-size: 1.5rem;
  cursor: pointer;
}

.Nav-toggle-icon {
  font-size: 1.5rem;
}


.dropdown {
  position: relative; 
}

.dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  background-color: white;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  list-style: none;
  width: 200px; 
  opacity: 0; 
  visibility: hidden; 
  max-height: 0;
  overflow: hidden; 
  transition: opacity 0.3s ease, visibility 0.3s ease, max-height 0.3s ease; 
}

.dropdown-menu li {
  padding: 10px;
}

.dropdown-menu li a {
  text-align: center;
  font-size: small;
  font-weight: 300;
  color: black;
  text-decoration: none;
  display: block; 
}

/* Show dropdown on hover */
.dropdown:hover .dropdown-menu {
  opacity: 1;
  visibility: visible;
  max-height: 500px; 
  display: block; 
}

/* Responsive adjustments */
@media (max-width: 768px) {
  .Nav {
    padding: 20px 10px;
    flex-direction: column;
  }

  .Nav-links {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 100%;
    align-items: center;
    text-align: center;
    background-color: white;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease; 
  }

  .Nav-links.active {
    max-height: 500px; 
    overflow: auto;
  }

  .Nav-toggle {
    display: block;
  }

  .dropdown-menu {
    position: static; 
    flex-direction: column;
    width: 100%; 
    box-shadow: none; 
    opacity: 1; 
    visibility: visible; 
    max-height: none; 
    transition: max-height 0.3s ease; 
  }

  .dropdown:hover .dropdown-menu {
    display: flex; 
    text-align: center;
    opacity: 1; 
    visibility: visible; 
  }

  .dropdown-menu li a {
    padding: 10px 0; 
    width: 100%; 
  }
}

.container {
  width: 100vw;
  min-height: 100%;
  padding-left: 0;
  padding-right: 0;
  margin-right: 0;
  margin-left: 0;
  position: relative;
  z-index: 1;
  overflow: visible;
}

.footer {
  width: 100vw;
  color: white;
  background-color: #303c6a;
  position: relative;
  bottom: 0;
  padding: 1rem;
  text-align: center;
}

.Links {
  display: flex;
  gap: 1rem;
  list-style: none;
  margin: 0;
  padding-top: 10px;
  justify-content: center;
}

.Links a {
  color: beige;
}

.rights {
  padding-top: 10px;
  color: beige;
}

.rights a {
  color: beige;
}


